
*{
    margin: 0 !important;
    padding: 0% !important;
  }
  
    input[type=checkbox]{
      display: none;
      margin: 0%;
      padding: 0%;
    }
    svg{
      width: 1em;
      height: 1em;
      margin-right: 5px;
      margin-top: 20px;
    }
    .stylish-checkbox input[type="checkbox"]:checked + svg .bg-outline{
      fill:#ffff;
      color: transparent;
  
    }
  
  
  input{
    margin: 0%;
  }
  label.stylish-checkbox{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 0%;
  }
  