<p>checkbox works!</p>

<label  class="stylish-checkbox">
    <input type="checkbox" id="" name="" checked=false />  
    
  <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 67 60" >
    <g id="Rectangle_10" data-name="Rectangle 10" fill="#263d6a" stroke="#263d6a" stroke-width="6" class="bg-outline" >
      <rect width="67" height="60" rx="15" stroke="none" class="rect1" />
      <rect x="2.5" y="2.5" width="62" height="55" rx="12.5" fill="none" class="rect2" />
    </g>
    <path id="Path_10" data-name="Path 10" d="M199.548,6267.427h0l5.87,5.917,4.372-4.087,19.518-20.148,2.457,2.818-14.827,15.3-11.521,11.891-9.557-9.864,2.641-2.935Z" transform="translate(-180 -6234.969)" fill="#fff" stroke="#fff" stroke-width="2"/>
  </svg>
 </label>